
.search-button{
    color: #08dbbb;
    background-color:white;
  border-radius: 40px;
    width:150px;
    height:40px;
    
   
    
}

.plus {

    color: white;
    background-color:#08dbbb;
    border-radius: 50%;
     width:30px;
    height:30px;

}
.create-account{

    color: white;
    background-color:rgb(43, 120, 228);
     width:200px;
    height:50px;
    box-shadow: 5px 5px black;
}