.all-midele{
    margin-left : 280px;


    
    
}
header{
    
    width: 70%;
    background-color:#ccc ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;

}
button{
    width: 150px;
    color: white;
    background-color: #2c77e5;
    box-shadow: 4px 4px black;
    border: 2px solid;
    border-color: black;
    
}

.white-box1{
    border: 4px solid;
    border-color: black;
    width: 700px;
    width: 70%;
    height: 260px;
    margin-bottom: 50px;
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    font-size:20px ;
    
    

}
.white-box2{
    width: 70%;
    border: 4px solid;
    border-color: black;
    width: 640px;
    height: 260px;
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    font-size:20px ;
    
    
}

aside{
    width: 70%;
    border: 4px solid ;
    border-color: black;
    width: 350px;
    height: 200px;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0.74;
    
    
}

.yellow-button{
    height: 50px;
    width: 100px;
    color: black;
    background-color: #fed966;
    box-shadow: 4px 4px;
    border: 2px solid;
}

.green-button{
    height: 50px;
    width: 250px;
    color: black;
    background-color: #92c47d;
    box-shadow: 4px 4px;
    border: 2px solid;
}
.same-row{
    
    display: flex;
    margin-top: 50px;
    margin-right: 250px;
    
}
input{
    width: 300px;

}
a{
    color: #2c77e5;
}
